<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreCompat.Selenium.WebDriver" version="3.5.3-beta001" targetFramework="net45" />
  <package id="CoreCompat.System.Drawing" version="1.0.0-beta006" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>